<ion-view view-title="{{friend.first_name}} {{friend.middle_name}} {{friend.last_name}}">
    <ion-content class="padding">
        <button class="button button-block button-outline button-assertive" ng-repeat="error in errors">{{error}}</button>
        <img id="friend-facebook-image" ng-src="{{friend.picture.data.url}}">
        <label id="question-input" class="item item-input">
            <textarea placeholder="Type a message..." ng-model="$parent.text"></textarea>
        </label>
        <button class="button button-block button-positive" ng-click="submitQuestion(text)">Start New Conversation</button>
        <ion-list>
            <ion-item class="item item-divider">
                Recent Conversations with {{friend.first_name}}
            </ion-item>
            <ion-item class="item" ng-repeat="conversation in conversations | orderBy:'timestamp':true" ng-if="conversation.senderId == authData.facebook.id" on-tap="tap(conversation)" on-double-tap="doubleTap(conversation)">
                <p>{{conversation.message}}</p>
            </ion-item>
            <!--<ion-item class="item dash-item" ng-repeat="conversation in conversations | orderBy:'timestamp':true" ng-if="conversation.senderId == authData.facebook.id" on-tap="tap(conversation)" on-double-tap="doubleTap(conversation)">-->
                <!--<div>-->
                    <!--<div class="time">-->
                        <!--<span>{{conversation.timestamp | amCalendar}}</span>-->
                        <!--<br/>-->
                        <!--<span class="status">-->
                            <!--<i ng-if="conversation.status == 'unread'" class="icon ion-eye-disabled placeholder-icon unread"></i>-->
                            <!--<i ng-if="conversation.status == 'read'" class="icon ion-eye placeholder-icon read"></i>-->
                            <!--<i ng-if="conversation.status == 'replied'" class="icon ion-android-checkmark-circle placeholder-icon replied"></i>-->
                        <!--</span>-->
                    <!--</div>-->
                    <!--<img class="dash-avatar" ng-src="{{friend.picture.data.url}}">-->
                    <!--<h2>{{friend.name}}</h2>-->
                    <!--<p>{{conversation.message}}</p>-->
                <!--</div>-->
            <!--</ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>
