<ion-view view-title="Login">
    <ion-content class="padding center">
        <button class="button button-block button-outline button-assertive" ng-repeat="error in errors">{{error}}</button>
        <img src="img/icon.png">
        <h1>Panderboo</h1>
        <h4>Ask your friends anything, anonymously!</h4>
        <br/>
        <br/>
        <button class="button button-block button-positive" ng-click="login()">Login with Facebook</button>
        <br/>
        <br/>
        <h5>&copy; 2015 codeitload.it</h5>
    </ion-content>
</ion-view>
