<ion-view view-title="{{question.question | limitTo : 5 : 0}}...">
    <ion-content class="padding">
        <div id="chat-bubbles">
            <div ng-repeat="thread in thread">
                <div ng-if="thread.fromId == authData.facebook.id">
                    <img class="chat-avatar user-chat-avatar" ng-src="https://graph.facebook.com/v2.3/{{authData.facebook.id}}/picture">
                    <div class="chat-bubble user-chat-bubble">
                        {{thread.message}}<br/>
                        <div class="chat-info">Sent <span>{{thread.timestamp | amCalendar}}</span></div>
                    </div>
                    <div class="clear-floats">&nbsp;</div>
                </div>
                <div ng-if="thread.fromId != authData.facebook.id">
                    <img class="chat-avatar anon-chat-avatar" ng-src="{{question.fromId == authData.facebook.id ? question.friend.picture.data.url : 'img/anon.png'}}">
                    <div class="chat-bubble anon-chat-bubble">
                        {{thread.message}}<br/>
                        <div class="chat-info">Sent <span>{{thread.timestamp | amCalendar}}</span></div>
                    </div>
                    <div class="clear-floats">&nbsp;</div>
                </div>
            </div>
        </div>
    </ion-content>

    <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
        <label class="item-input-wrapper">
            <input type="text" placeholder="Type a message..." ng-model="text" on-return="submitMessage(text); closeKeyboard()" ng-focus="inputFocus()" ng-blur="inputBlur()" />
        </label>
        <button class="button button-icon icon ion-paper-airplane" ng-click="submitMessage(text)" ng-disabled="!text || text === ''"></button>
    </ion-footer-bar>
</ion-view>
