<ion-view view-title="Dashboard">
    <ion-content>
        <ion-list>
            <ion-item class="item dash-item" ng-repeat="question in questions">
                <div>
                    <div class="time">
                        {{question.timestamp}}<br/>
                        <span class="status"><i class="icon ion-eye-disabled placeholder-icon status"></i></span>
                    </div>
                    <img class="dash-avatar" ng-src="{{question.fromId == authData.facebook.id ? 'https://graph.facebook.com/v2.3/' + question.toId + '/picture' : 'img/anon.png'}}">
                    <h2>{{question.fromId == authData.facebook.id ? question.toName : 'Anonymous'}}</h2>
                    <p>{{question.question}}</p>
                </div>

            </ion-item>

            <!--<ion-item class="item item-divider">Mockup Data</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--1:05 pm<br/>-->
                    <!--<span class="status"><i class="icon ion-eye-disabled placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="img/anon.png">-->
                <!--<h2>Anonymous</h2>-->
                <!--<p>What is the last movie that you saw at the cinema?</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--11:53 am<br/>-->
                    <!--<span class="status"><i class="icon ion-eye placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="img/anon.png">-->
                <!--<h2>Anonymous</h2>-->
                <!--<p>Do you sing in the shower?</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--Sat<br/>-->
                    <!--<span class="status"><i class="icon ion-android-checkmark-circle placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xtp1/v/t1.0-1/p50x50/11263923_10152985379048152_8720518934828485127_n.jpg?oh=3d847a11f8c767c8100f82719c7392ba&oe=55EC4A61&__gda__=1442797229_8210fdfd01f7140921bb500d46e452c2">-->
                <!--<h2>Sally Fortson Ellis</h2>-->
                <!--<p>Which store would you choose to max out your credit card?</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--Sat<br/>-->
                    <!--<span class="status"><i class="icon ion-android-checkmark-circle placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="https://scontent.xx.fbcdn.net/hprofile-xfp1/v/l/t1.0-1/p50x50/1621979_4279167593304_7249390143533060477_n.jpg?oh=f0719f907ca6bd4880e456c5062610e0&oe=56011E45">-->
                <!--<h2>Sara Fortson</h2>-->
                <!--<p>What do you do most when you are bored?</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--Sat<br/>-->
                    <!--<span class="status"><i class="icon ion-eye placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="img/anon.png">-->
                <!--<h2>Anonymous</h2>-->
                <!--<p>What do you do for a living?</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--Fri<br/>-->
                    <!--<span class="status"><i class="icon ion-android-checkmark-circle placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p50x50/10868006_10204103405440337_8932977624377825009_n.jpg?oh=9683c57ce09e6b641f8bf71d773510a8&oe=55EA90D7&__gda__=1442045034_98df500a0a4c00f6aafe7f904ff2ff13">-->
                <!--<h2>Aaron Etchells</h2>-->
                <!--<p>Do you love your job?</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--Wed<br/>-->
                    <!--<span class="status"><i class="icon ion-android-checkmark-circle placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="img/anon.png">-->
                <!--<h2>Anonymous</h2>-->
                <!--<p>What did you want to be when you grew up?</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--Jun 3<br/>-->
                    <!--<span class="status"><i class="icon ion-android-checkmark-circle placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="img/anon.png">-->
                <!--<h2>Anonymous</h2>-->
                <!--<p>If you could have any job, what would you want to do/be?</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--May 27<br/>-->
                    <!--<span class="status"><i class="icon ion-android-checkmark-circle placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p50x50/10505463_10100284818109379_7277330343602966836_n.jpg?oh=8f853ddb8ab96660fac3dcae6d41c14d&oe=55FED1C2&__gda__=1446207103_be6393f11fe7e5e5a1c1f5d02dd570b4">-->
                <!--<h2>Christina Lyon Zandi</h2>-->
                <!--<p>Which came first the chicken or the egg?</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--May 25<br/>-->
                    <!--<span class="status"><i class="icon ion-android-checkmark-circle placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="img/anon.png">-->
                <!--<h2>Anonymous</h2>-->
                <!--<p>How many keys on your key ring?</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--May 25<br/>-->
                    <!--<span class="status"><i class="icon ion-android-checkmark-circle placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xtp1/v/t1.0-1/p50x50/11263923_10152985379048152_8720518934828485127_n.jpg?oh=3d847a11f8c767c8100f82719c7392ba&oe=55EC4A61&__gda__=1442797229_8210fdfd01f7140921bb500d46e452c2">-->
                <!--<h2>Sally Fortson Ellis</h2>-->
                <!--<p>Where would you retire to?</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--May 25<br/>-->
                    <!--<span class="status"><i class="icon ion-android-checkmark-circle placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="img/anon.png">-->
                <!--<h2>Anonymous</h2>-->
                <!--<p>What kind of car do you drive?</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--May 25<br/>-->
                    <!--<span class="status"><i class="icon ion-android-checkmark-circle placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="img/anon.png">-->
                <!--<h2>Anonymous</h2>-->
                <!--<p>What are your best physical features?</p>-->
            <!--</ion-item>-->
            <!--<ion-item class="item dash-item">-->
                <!--<div class="time">-->
                    <!--May 25<br/>-->
                    <!--<span class="status"><i class="icon ion-android-checkmark-circle placeholder-icon status"></i></span>-->
                <!--</div>-->
                <!--<img class="dash-avatar" src="img/anon.png">-->
                <!--<h2>Anonymous</h2>-->
                <!--<p>What are your best characteristics?</p>-->
            <!--</ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>
