<ion-view view-title="Panderboo">
    <ion-content class="padding">

        <div class="list card">
            <div class="item item-avatar">
                <img src="https://pbs.twimg.com/profile_images/1359362275/photo_bigger.JPG">
                <h3>What do you think of Panderboo?</h3>
                <p>It's amazing!</p>
            </div>
        </div>

        <div class="list card">
            <div class="item item-avatar-right" style="text-align: right">
                <img src="https://pbs.twimg.com/profile_images/383577663/sally_bigger.jpg">
                <h3>When are you going to Disneyland next?</h3>
                <p>We are planning on going this weekend!</p>
            </div>
        </div>

        <div class="list card">
            <div class="item item-avatar-right" style="text-align: right">
                <img src="https://pbs.twimg.com/profile_images/378800000770925025/90c519f395812bce5f43939d087afd96_bigger.jpeg">
                <h3>Are you guys happy to be back in OC?</h3>
                <p>OMG yes!</p>
            </div>
        </div>

        <div class="list card">
            <div class="item item-avatar">
                <img src="https://pbs.twimg.com/profile_images/1359362275/photo_bigger.JPG">
                <h3>Where were you born?</h3>
                <p>Long Beach, CA!</p>
            </div>
        </div>

        <div class="list card">
            <div class="item item-avatar">
                <img src="https://pbs.twimg.com/profile_images/1359362275/photo_bigger.JPG">
                <h3>Is this a stupid question?</h3>
                <p>There are no stupid questions!</p>
            </div>
        </div>

        <div class="list card">
            <div class="item item-avatar-right" style="text-align: right">
                <img src="https://pbs.twimg.com/profile_images/383577663/sally_bigger.jpg">
                <h3>Do you like your new job?</h3>
                <p>So much, Lori is great!</p>
            </div>
        </div>
    </ion-content>
</ion-view>
